{% extends "rest_framework/base.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            {% block branding %}<h3 style="margin: 0 0 20px;">Sing up</h3>{% endblock %}
          </div>
        </div><!-- /row fluid -->

        <div class="row-fluid">
          <div>
            <form action="{% url 'singin' %}" enctype="multipart/form-data" role="form" method="post">
              {% csrf_token %}

              <div id="div_id_email" class="clearfix control-group {% if form.email.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_email">Email:</label>
                  {% if form.email.errors %}<ul class="errorlist">{{ form.email.errors }}</ul>{% endif %}
                  {{ form.email }}
                </div>
              </div>
              <div id="div_id_password" class="clearfix control-group {% if form.password.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_password">Password:</label>
                  {% if form.password.errors %}<ul class="errorlist">{{ form.password.errors }}</ul>{% endif %}
                  {{ form.password }}
                </div>
              </div>
              <div id="div_id_first_name" class="clearfix control-group {% if form.first_name.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_first_name">First Name:</label>
                  {% if form.first_name.errors %}<ul class="errorlist">{{ form.first_name.errors }}</ul>{% endif %}
                  {{ form.first_name }}
                </div>
              </div>
              <div id="div_id_last_name" class="clearfix control-group {% if form.last_name.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_last_name">Last Name:</label>
                  {% if form.last_name.errors %}<ul class="errorlist">{{ form.last_name.errors }}</ul>{% endif %}
                  {{ form.last_name }}
                </div>
              </div>
              <div id="div_id_passport_number" class="clearfix control-group {% if form.passport_number.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_passport_number">Passport Number:</label>
                  {% if form.passport_number.errors %}<ul class="errorlist">{{ form.passport_number.errors }}</ul>{% endif %}
                  {{ form.passport_number }}
                </div>
              </div>
              <div class="form-actions-no-box">
                <input type="submit" name="submit" value="Sing in" class="btn btn-primary form-control" id="submit-id-submit">
              </div>
            </form>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
{% endblock %}